* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87ceeb; /* Cor do céu */
}

#gameArea {
    position: relative;
    width: 100vw; /* Tamanho ajustado para tela cheia */
    height: 100vh; /* Tamanho ajustado para tela cheia */
    overflow: hidden;
    background: url('background_brasilia.png') no-repeat center center fixed;
    background-size: cover;
}

#character {
    position: absolute;
    bottom: 0;
    left: 50px; /* Posição inicial do motociclista */
    width: 200px;
    height: 200px;
    background-color: none; /* Cor do personagem */
}

.obstacle {
    position: absolute;
    bottom: 50px;
    width: 100px; /* Ajuste para a largura da imagem do cachorro */
    height: 100px; /* Ajuste para a altura da imagem do cachorro */
    background-color: none; /* Remover o fundo */
}
